<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <div th:replace="fragments/fragment :: head"></div>
    <link rel="stylesheet" th:href="@{/css/user.css}">
    <title>サイト会員一覧</title>
</head>
<body>
<header>
    <div th:replace="fragments/navbar :: navbar"></div>
    <!--パンくずリスト-->
    <nav aria-label="breadcrumb" role="navigation" class="nya-breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a th:href="@{/}">ホーム</a></li>
            <li class="breadcrumb-item"><a th:href="@{/admin}">サイト管理者画面</a></li>
            <li class="breadcrumb-item active" aria-current="page">サイト会員一覧</li>
        </ol>
    </nav>
</header>
<main class="user-page">
    <div class="container bg-white">
        <div class="row justify-content-center">
            <div class="col-xxl-9 col-xl-10 col-lg-11 text-center">
                <h2>サイト会員一覧</h2>
                <table class="table table-striped user-table">
                    <thead>
                    <tr>
                        <th scope="col">アカウント</th>
                        <th scope="col">氏名</th>
                        <th scope="col">権限</th>
                        <th scope="col">登録日時</th>
                        <th scope="col">更新日時</th>
                        <th scope="col">有効/停止</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:classappend="${user.isStopped} ? 'stopped-user' : '' " th:each="user : ${users}">
                        <th scope="row"><span name="account" th:text="${user.account}"></span></th>
                        <td class="td-name"><!-- 氏名表示 -->
                            <span name="name" th:text="${user.name}"></span>
                        </td>
                        <td>
                            <th:block th:switch="${user.authority}">
                                <span th:case=0 th:text="一般会員"></span>
                                <span th:case=1 th:text="サイト管理者"></span>
                            </th:block>
                        </td>
                        <td>
                            <span th:text="${#dates.format(user.createdDate, 'yyyy-MM-dd HH:mm:ss')}"></span>
                        </td>
                        <td>
                            <span th:text="${#dates.format(user.updatedDate, 'yyyy-MM-dd HH:mm:ss')}"></span>
                        </td>
                        <td class="td-status">
                            <span th:if="${user.isStopped}" th:text="停止中"></span>
                            <span th:unless="${user.isStopped}" th:text="有効中"></span>

                            <div th:if="${loginUser.id != user.id}">
                                <form class="valid-form" th:if="${user.isStopped}" th:action="@{/admin/user/change/{id}(id=${user.id})}" th:method="put" onSubmit="return CheckValid()">
                                    <input type="hidden" name="isStopped" value="false"/>
                                    <input type="submit" value="有効"/>
                                </form>

                                <form class="stop-form" th:unless="${user.isStopped}" th:action="@{/admin/user/change/{id}(id=${user.id})}" th:method="put" onSubmit="return CheckStop()">
                                    <input type="hidden" name="isStopped" value="true"/>
                                    <input type="submit" value="停止"/>
                                </form>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- ページネーション -->
    <div th:if="${page.totalPages > 1}" class="pagination">
        <ul>
            <li th:if="${!page.first}">
                <a th:href="@{/admin/user-list(page=${page.number - 1})}">« 前へ</a>
            </li>

            <li th:each="i : ${#numbers.sequence(startPage, endPage)}"
                th:classappend="${i == page.number} ? 'active'">
                <a th:if="${i != page.number}"
                   th:href="@{/admin/user-list(page=${i})}"
                   th:text="${i + 1}"></a>
                <strong th:if="${i == page.number}" th:text="${i + 1}"></strong>
            </li>

            <li th:if="${!page.last}">
                <a th:href="@{/admin/user-list(page=${page.number + 1})}">次へ »</a>
            </li>
        </ul>
    </div>

</main>
<footer>
    <div th:replace="fragments/fragment :: footer"></div>
</footer>
<div th:replace="fragments/fragment :: scriptsAndJs"></div>
</body>
</html>