<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <div th:replace="fragments/fragment :: head"></div>
    <title>ユーザー一覧</title>
</head>
<body>
<header>
    <div th:replace="fragments/navbar :: navbar"></div>
</header>
<main>

    <table>
        <caption>ユーザー 一覧</caption>
        <thead>
        <tr>
            <th>アカウント</th>
            <th>氏名</th>
            <th>権限</th>
            <th>登録日時<br/><hr>更新日時</th>
            <th>有効/停止</th>
        </tr>
        </thead>
        <tbody>
        <tr th:classappend="${user.isStopped} ? 'stopped-user' : '' " th:each="user : ${users}">
            <td class="td-idAccount"><!-- アカウント表示 -->
                <span name="account" th:text="${user.account}"></span>
            </td>
            <td class="td-name"><!-- 氏名表示 -->
                <span name="name" th:text="${user.name}"></span>
            </td>
            <td>
                <th:block th:switch="${user.authority}">
                    <span th:case=0 th:text="一般会員"></span>
                    <span th:case=1 th:text="サイト管理者"></span>
                </th:block>
            </td>
            <td>
                <span th:text="${#dates.format(user.createdDate, 'yyyy-MM-dd HH:mm:ss')}"></span><br/>
                <hr>
                <span th:text="${#dates.format(user.updatedDate, 'yyyy-MM-dd HH:mm:ss')}"></span>
            </td>
            <td class="td-status">
                <span th:if="${user.isStopped}" th:text="停止中"></span>
                <span th:unless="${user.isStopped}" th:text="有効中"></span>

                <div th:if="${loginUser.id != user.id}">
                    <form class="valid-form" th:if="${user.isStopped}" th:action="@{/admin/user/change/{id}(id=${user.id})}" th:method="put" onSubmit="return CheckValid()">
                        <input type="hidden" name="isStopped" value="false"/>
                        <input type="submit" value="有効"/>
                    </form>

                    <form class="stop-form" th:unless="${user.isStopped}" th:action="@{/admin/user/change/{id}(id=${user.id})}" th:method="put" onSubmit="return CheckStop()">
                        <input type="hidden" name="isStopped" value="true"/>
                        <input type="submit" value="停止"/>
                    </form>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{/admin}">戻る</a>
</main>
<div th:replace="fragments/fragment :: scriptsAndJs"></div>
</body>
</html>